html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  font-weight: 100;
}

a { color: #2F4F4F; }

h1.special{
  font-family: cursive;
    text-align: left;

}

.bg {
  /* The image used */
  background-image: url("images/placeholder-big.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#ID-Test{
  font-family: 'Arial', sans-serif;
  color: grey;
}


.uppercase {
  text-transform: uppercase;

}

.cursive{
  font-family: cursive;

}

.capitalize {
  text-transform: capitalize;
}

.code {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  margin-bottom: 10px;
  overflow: auto;
  width: auto;
  padding: 5px;
  background-color: #eee;
  width: 650px!ie7;
  padding-bottom: 20px!ie7;
  max-height: 600px;
}
